%h1 Ruby Users
%p Here is a list of Rubyists (and some non-Rubyists) who have volunteered to talk about Ruby and Ruby development related topics in the monthly meetups:

%ul.user-list
  - @users.each do |user|
    %li
      %strong= link_to user.name, user
      -
      = pluralize user.presentations.count, "talk"
