.row-fluid.event
  .span12
    %h3= link_to event.name, event
    = render :partial => "display_time", :locals => { :event => event }
    - unless event.youtube_playlist.blank? 
      %p.playlist
        = link_to "http://www.youtube.com/playlist?list=#{event.youtube_playlist}", :target => "_blank" do
          %i.icon-film
          Watch event video playlist

