- build_meta_tags title: "Events"

%h1 Events

.pull-right
  = link_to events_url(format: 'ics', protocol: 'webcal'), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-calendar
    Calendar Subscription

- unless @current.empty?
  .row.current-meetups
    .col-md-12
      %h2 Ongoing Events
      = render :partial => @current, :spacer_template => "event_spacer" 

- unless @upcoming.empty?
  .row.upcoming-meetups
    .col-md-12
      %h2 Upcoming Events
      = render :partial => @upcoming, :spacer_template => "event_spacer" 

- unless @past.empty?
  .row.past-meetups
    .col-md-12
      %h2 Past Events
      = render :partial => @past, :spacer_template => "event_spacer" 
