- build_meta_tags
.hero-unit
  %h1 Ruby is FUN and is THE SHIT!
  %p Holy crap son, this programming language is the best!
  %p= link_to "Get some #swag &raquo;".html_safe, "#", :class => "btn btn-primary btn-large"

.row
  .span4
    %h2 We got meetups, yo!
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p= link_to "YOLO!", events_url, :class => "btn"
  .span4
    %h2 See what we got, yo!
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p= link_to "YOLO!", events_url, :class => "btn"
  .span4
    %h2 We gon' get wasted!
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p= link_to "YOLO!", events_url, :class => "btn"
