- build_meta_tags title: "Podcasts"

%h1 Podcasts

%h3 Next Podcast - Episode 009

%p
  -#2015-01-28 9:00pm - 10:00pm PHT
  TBA
  
%p
  %a{ href: "https://plus.google.com/events/csuq0qsec9q28ntevd5kkltqgh8" } Join the podcast here.

%h2 Archive

%h3 Episode 001: Remote Work (2014-11-06)

%p Every two weeks, members of the Philippine Ruby Users Group discuss topics on Ruby and software development. This week, they discuss tips and tricks on doing remote work.

%p
  %a{ href: "https://archive.org/details/phrug-podcast-episode-001-remote-work" }
    %span.glyphicon.glyphicon-play
    Listen at Archive.org

%h3 Episode 002: Functional Programming (2014-11-21)

%p Every two weeks, members of the Philippine Ruby Users Group discuss topics on Ruby and software development. This week they cover Arne Brasseus's "Functional programming for Rubyists" talk at Arrr Camp 2014.

%p
  %a{ href: "https://archive.org/details/phrug-podcast-episode-002-functional-programming_official" }
    %span.glyphicon.glyphicon-play
    Listen at Archive.org

%h3 Episode 003 (2014-12-11)
%h3 Episode 004 (2014-12-17)

%p Rails controllers have been called the sweaty armpit of every Rails application. In the next episode, we'll discuss ways to keep your controllers clean and fresh. Some techniques we can cover are 

%ul
  %li Service objects and other POROs
  %li Resource routes
  %li instance variables versus helper methods
  %li decent_exposure and other controller-related gems
  %li Alternative Rails architectures

%p
  %a{ href: "https://www.youtube.com/watch?v=_anpnqErqPE" }
    %span.glyphicon.glyphicon-film
    Watch part 1 at YouTube
  %br
  %a{ href: "https://www.youtube.com/watch?v=czVuuMVTOzQ" }
    %span.glyphicon.glyphicon-film
    Watch part 2 at YouTube

%h3 Episode 005 (2015-01-07)

%p 
  In this podcast, we walk through the first example in Tom Stuart's Refactoring Ruby with Monads presentation (<a href="https://www.youtube.com/watch?v=J1jYlPtkrqQ">https://www.youtube.com/watch?v=J1jYlPtkrqQ</a>), the one that implements try functionality with object-oriented goodness.

%p
  %a{ href: "https://www.youtube.com/watch?v=sMcmANBtyCo" }
    %span.glyphicon.glyphicon-film
    Watch at YouTube

%h3 Episode 006 (2015-01-14)

%p In this short episode, George Mendoza shares his experience with implementing a value object as an ActiveRecord model. His tip: consider implement a value object as a PORO first.

%p
  %a{ href: "https://www.youtube.com/watch?v=v5oAbDLTCSE" }
    %span.glyphicon.glyphicon-film
    Watch at YouTube

%h3 Episode 007 (2015-01-21)

%p In this episode, George Mendoza shares a spreadsheet he uses for breaking down the requirements of a feature and setting estimates for the requirements.
 
%p
  %a{ href: "https://www.youtube.com/watch?v=gO_d6G0WwE8" }
    %span.glyphicon.glyphicon-film
    Watch at YouTube

%h3 Episode 008 (2015-01-28)

%p On this episode, we discuss two talks from Ruby Conference 2014 related to data integrity.
 
%p
  %a{ href: "https://www.youtube.com/watch?v=1YvOl6QXfA0" }
    %span.glyphicon.glyphicon-film
    Watch at YouTube
