- build_meta_tags title: "Podcasts"

%h1 Podcasts

%h3 Next Podcast - Episode 005

%p
  2015-01-07 8:00pm - 9:00pm PHT
  
%p
  %a{ href: "https://plus.google.com/events/cjkq3cfpbbfkeme5pnn1aj4cuhc" } Join the podcast here.

%h2 Archive

%h3 Episode 001: Remote Work (2014-11-06)

%p Every two weeks, members of the Philippine Ruby Users Group discuss topics on Ruby and software development. This week, they discuss tips and tricks on doing remote work.

%p
  %a{ href: "https://archive.org/details/phrug-podcast-episode-001-remote-work" }
    %span.glyphicon.glyphicon-play
    Listen at Archive.org

%h3 Episode 002: Functional Programming (2014-11-21)

%p Every two weeks, members of the Philippine Ruby Users Group discuss topics on Ruby and software development. This week they cover Arne Brasseus's "Functional programming for Rubyists" talk at Arrr Camp 2014.

%p
  %a{ href: "https://archive.org/details/phrug-podcast-episode-002-functional-programming_official" }
    %span.glyphicon.glyphicon-play
    Listen at Archive.org

%h3 Episode 003 (2014-12-11)
%h3 Episode 004 (2014-12-17)

%p Rails controllers have been called the sweaty armpit of every Rails application. In the next episode, we'll discuss ways to keep your controllers clean and fresh. Some techniques we can cover are 

%ul
  %li Service objects and other POROs
  %li Resource routes
  %li instance variables versus helper methods
  %li decent_exposure and other controller-related gems
  %li Alternative Rails architectures

%p
  %a{ href: "https://www.youtube.com/watch?v=_anpnqErqPE" }
    %span.glyphicon.glyphicon-film
    Watch part 1 at YouTube
  %br
  %a{ href: "https://www.youtube.com/watch?v=czVuuMVTOzQ" }
    %span.glyphicon.glyphicon-film
    Watch part 2 at YouTube

