@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'font-awesome';
@import 'gmaps4rails';

.hero-unit {
  .ruby-logo {
    margin: -25px 0 0 20px;
  }
}

@media (max-width: 979px) {
  .hero-unit {
    .ruby-logo {
      text-align: center;
      display: block;
      float: none;
      margin: 0 auto 20px;
    }
  }
}

.main-container {
  margin-top: 20px;
}

.alert {
  margin-top: 20px;
}

.front-columns {
  text-align: center;
  .span4 {
    p {
      font-size: 16px;
      line-height: 1.5;
    }
    ul.community-links {
      list-style-type: none;
      margin: 0;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.event {
  background: #eee;
  padding: 5px 20px 10px;
  margin-top: 10px;
  @include border-radius(5px);
  h3 {
    margin-bottom: 0px;
  }
  p.event-time {
    color: gray;
    font-style: italic;
  }
  .map_container {
    width: 100%;
    .gmaps4rails_map {
      width: 100%;
    }
  }
}

footer, .footer {
  margin-top: 50px;
  color: #aaa;
  text-align: center;
  a {
    color: #87BEE0;
  }
}
